<%= button_to url, method: :get, id: "add_#{model_name}" do %>
  <div class="flex start-end items-center justify-center flex-wrap bg-teal-500 p-6 text-blue-700">
    <span class="material-icons">add</span>
  </div>
<% end %>
